<div role="tabpanel" class="tab-pane" id="point-tab-{{:player}}">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="">Feld</td>
                {{for pointrows ~player=player}}
                    <td class="">{{:name}}</td>
                {{/for}}
            </tr>
        </thead>
        <tbody>
            <tr class="point-row">
                <td class="point-label">Einsen</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="one-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Zweien</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="two-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Dreien</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="three-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Vieren</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="four-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Fünfen</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="five-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Sechsen</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="six-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Bonus</td>
                {{for pointrows ~player=player}}
                    <td class="" id="bonus-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Zwischensumme</td>
                {{for pointrows ~player=player}}
                    <td class="" id="subtotal-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Ein Paar</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="onepair-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Zwei Paar</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="twopair-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Dreier Pasch</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="threesome-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Vierer Pasch</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="foursome-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Full House</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="fullhouse-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Kleine Straße</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="smallstreet-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Große Straße</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="bigstreet-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Kniffel</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="kniffel-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="point-label">Chance</td>
                {{for pointrows ~player=player}}
                    <td class="point-cell" id="chance-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            <tr class="point-row">
                <td class="{{if rowcount == 1}}bold{{/if}} point-label">Summe</td>
                {{for pointrows ~player=player ~rowcount=rowcount}}
                    <td class="{{if ~rowcount == 1}}bold{{/if}}" id="total-{{:id}}-{{:~player}}"></td>
                {{/for}}
            </tr>
            {{if rowcount > 1}}
                <tr class="point-row">
                    <td class="bold point-label">Gesamtsumme</td>
                    <td colspan="{{:rowcount}}" class="bold" id="all-total-{{:player}}"></td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>