<div role="tabpanel" class="tab-pane" id="point-tab-{{:player}}">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="point-cell">Feld</td>
                <td class="point-cell">Beliebig</td>
                <td class="point-cell">Ein Wurf</td>
                <td class="point-cell">...</td>
                <td class="point-cell">...</td>
            </tr>
        </thead>
        <tbody>
            <tr class="point-row">
                <td class="point-label">Einsen</td>
                <td class="point-cell writable" id="one-1-{{:player}}"></td>
                <td class="point-cell writable" id="one-2-{{:player}}"></td>
                <td class="point-cell writable" id="one-3-{{:player}}"></td>
                <td class="point-cell writable" id="one-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Zweien</td>
                <td class="point-cell writable" id="two-1-{{:player}}"></td>
                <td class="point-cell writable" id="two-2-{{:player}}"></td>
                <td class="point-cell writable" id="two-3-{{:player}}"></td>
                <td class="point-cell writable" id="two-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Dreien</td>
                <td class="point-cell writable" id="three-1-{{:player}}"></td>
                <td class="point-cell writable" id="three-2-{{:player}}"></td>
                <td class="point-cell writable" id="three-3-{{:player}}"></td>
                <td class="point-cell writable" id="three-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Vieren</td>
                <td class="point-cell writable" id="four-1-{{:player}}"></td>
                <td class="point-cell writable" id="four-2-{{:player}}"></td>
                <td class="point-cell writable" id="four-3-{{:player}}"></td>
                <td class="point-cell writable" id="four-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Fünfen</td>
                <td class="point-cell writable" id="five-1-{{:player}}"></td>
                <td class="point-cell writable" id="five-2-{{:player}}"></td>
                <td class="point-cell writable" id="five-3-{{:player}}"></td>
                <td class="point-cell writable" id="five-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Sechsen</td>
                <td class="point-cell writable" id="six-1-{{:player}}"></td>
                <td class="point-cell writable" id="six-2-{{:player}}"></td>
                <td class="point-cell writable" id="six-3-{{:player}}"></td>
                <td class="point-cell writable" id="six-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Bonus</td>
                <td class="point-cell " id="bonus-1-{{:player}}"></td>
                <td class="point-cell " id="bonus-2-{{:player}}"></td>
                <td class="point-cell " id="bonus-3-{{:player}}"></td>
                <td class="point-cell " id="bonus-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Zwischensumme</td>
                <td class="point-cell " id="subtotal-1-{{:player}}"></td>
                <td class="point-cell " id="subtotal-2-{{:player}}"></td>
                <td class="point-cell " id="subtotal-3-{{:player}}"></td>
                <td class="point-cell " id="subtotal-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Ein Paar</td>
                <td class="point-cell writable" id="onepair-1-{{:player}}"></td>
                <td class="point-cell writable" id="onepair-2-{{:player}}"></td>
                <td class="point-cell writable" id="onepair-3-{{:player}}"></td>
                <td class="point-cell writable" id="onepair-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Zwei Paar</td>
                <td class="point-cell writable" id="twopair-1-{{:player}}"></td>
                <td class="point-cell writable" id="twopair-2-{{:player}}"></td>
                <td class="point-cell writable" id="twopair-3-{{:player}}"></td>
                <td class="point-cell writable" id="twopair-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Dreier Pasch</td>
                <td class="point-cell writable" id="threesome-1-{{:player}}"></td>
                <td class="point-cell writable" id="threesome-2-{{:player}}"></td>
                <td class="point-cell writable" id="threesome-3-{{:player}}"></td>
                <td class="point-cell writable" id="threesome-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Vierer Pasch</td>
                <td class="point-cell writable" id="foursome-1-{{:player}}"></td>
                <td class="point-cell writable" id="foursome-2-{{:player}}"></td>
                <td class="point-cell writable" id="foursome-3-{{:player}}"></td>
                <td class="point-cell writable" id="foursome-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Full House</td>
                <td class="point-cell writable" id="fullhouse-1-{{:player}}"></td>
                <td class="point-cell writable" id="fullhouse-2-{{:player}}"></td>
                <td class="point-cell writable" id="fullhouse-3-{{:player}}"></td>
                <td class="point-cell writable" id="fullhouse-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Kleine Straße</td>
                <td class="point-cell writable" id="smallstreet-1-{{:player}}"></td>
                <td class="point-cell writable" id="smallstreet-2-{{:player}}"></td>
                <td class="point-cell writable" id="smallstreet-3-{{:player}}"></td>
                <td class="point-cell writable" id="smallstreet-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Große Straße</td>
                <td class="point-cell writable" id="bigstreet-1-{{:player}}"></td>
                <td class="point-cell writable" id="bigstreet-2-{{:player}}"></td>
                <td class="point-cell writable" id="bigstreet-3-{{:player}}"></td>
                <td class="point-cell writable" id="bigstreet-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Kniffel</td>
                <td class="point-cell writable" id="kniffel-1-{{:player}}"></td>
                <td class="point-cell writable" id="kniffel-2-{{:player}}"></td>
                <td class="point-cell writable" id="kniffel-3-{{:player}}"></td>
                <td class="point-cell writable" id="kniffel-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Chance</td>
                <td class="point-cell writable" id="chance-1-{{:player}}"></td>
                <td class="point-cell writable" id="chance-2-{{:player}}"></td>
                <td class="point-cell writable" id="chance-3-{{:player}}"></td>
                <td class="point-cell writable" id="chance-4-{{:player}}"></td>
            </tr>
            <tr class="point-row">
                <td class="point-label">Summe</td>
                <td class="point-cell " id="total-1-{{:player}}"></td>
                <td class="point-cell " id="total-2-{{:player}}"></td>
                <td class="point-cell " id="total-3-{{:player}}"></td>
                <td class="point-cell " id="total-4-{{:player}}"></td>
            </tr>
        </tbody>
    </table>
</div>